body{
  padding:0;
  margin:0;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
  /* min-height:1500px; */
}
h1, h2, h3, h4, p{
  margin:0;
  padding:0;
}
h2{
  font-size:3vh;
}
a{
  color: var(--dark-gray);
  text-decoration: none;
}
main section{
  /* width:100%; */
  overflow:hidden;
  padding: 24px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
section.open{
  height:auto;
}
.hidden{
  opacity: 0;
  padding:0;
}




section.intro{
  background-color: var(--dark-gray);
  height: 70vh;
  display: flex;
  align-items: center;
}
/* section.closed{
  height:10px;
  padding:0;
} */



section.body{
  transition: height 0.5s ease;
}
section.body.initial{
  height: 4vh;
  padding:0px;
  overflow:hidden;
}

section.body.scrolled{
  height:15vh;
  padding:24px;
}

section.body.scrolled.open{
  height:400px;
  padding:24px;
}
div.mobile-section-header.section-open{
  display: none;
}

div.mobile-section-header{
  display:flex;
  justify-content: space-between;
  /* padding:24px; */
  align-items: center;
  opacity: 0;
}
div.mobile-section-header.scrolled{
  opacity:1;
}





section.pink{
  background-color: var(--pink);
  color:var(--blue);
}
section.pink .text-accent{
  color: var(--teal); 
}



section.blue{
  background-color: var(--blue);
}



section.teal{
  background-color: var(--teal);
}



section.white{
  background-color: var(--white);
}



section.gray{
  background-color: var(--dark-gray);
}







section.green{
  background-color: var(--green);
  height:15vh;
}
section.footer {
  font-size:12px;
}




@media(min-width:900px){
  main{
    display:flex;
    width:100vw;
  }
main section{
  overflow:scroll;
}
.hidden{
  opacity: 1;
}
  section.body.initial{
    height:90vh;
  }
  section.intro{
    display:none;
  }
  section.pink{
    flex: 0 0 50%;
  }
  section.blue{
    flex: 0 0 30%;
  }
  section.teal{
    flex: 0 0 6.6666%;
  }
  section.white{
    flex: 0 0 6.6666%;
  }
  section.grey{
    flex: 0 0 6.6666%;
  }
  section.footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100vw;
    height:10vh;
  }
}